<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- 定义文件内容的输出格式 -->
    <property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS})\t%-5level\t%c\t%msg%n"/>
    <!-- 定义生产代码日志文件路径 -->
<!--     <property name="LOG_PATH" value="F:/logs"/> -->
    <property name="LOG_PATH" value="/data/logs"/>
    <!-- 务必使用你的微服务名 -->
    <property name="spring.application.name" value="microservicecloud-provider"/> <!-- 这里请务必修改成你的微服务名 -->
    <!-- ContenxtName必需设定为微服务名 -->
    <contextName>${spring.application.name}</contextName>

    <!--jdbc -->
    <logger name="java.sql.Connection" level="DEBUG"/>
    <logger name="java.sql.PreparedStatement" level="DEBUG"/>

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!--按天生成日志-->
    <appender name="logFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/${spring.application.name}/%d{yyyy-MM-dd}/stdout.log</FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${PATTERN}</Pattern>
        </layout>
    </appender>


    <!-- error日志 -->
    <appender name="errorOut" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/${spring.application.name}/%d{yyyy-MM-dd}/error.log</FileNamePattern>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>${PATTERN}</Pattern>
        </encoder>
    </appender>

    <!-- 1. 输出SQL 到控制台和文件-->
    <logger name="org.hibernate.SQL" additivity="false" >
        <level value="DEBUG" />
        <appender-ref ref="logFile" />
        <appender-ref ref="console" />
    </logger>

    <!-- 2. 输出SQL 的参数到控制台和文件-->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" additivity="false" level="TRACE" >
        <level value="TRACE" />
        <appender-ref ref="logFile" />
        <appender-ref ref="console" />
    </logger>


    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="logFile"/>
        <appender-ref ref="errorOut"/>
    </root>
</configuration>
